:root {
  --main-bg-color: brown;
  --color-button-black: rgb(34, 34, 34);
  --color-gradient: linear-gradient(to top left, #fff, #e52e71);
  --colorTealDarkest: hsl(175, 73%, 19%);
  --colorTealDarker: hsl(175, 73%, 30%);
  --colorTeal: hsl(175, 100%, 34%);
  --colorTealLighter: hsl(175, 100%, 39%);
  --colorTealLightest: hsl(175, 51%, 86%);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer !important;
  display: inline-block !important;
  margin: 1rem auto !important;
  position: relative !important;
  text-align: center !important;
  text-decoration: none !important;
  width: auto !important;
  touch-action: manipulation !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif !important;
  font-size: 16px !important;
  line-height: 20px !important;
  font-weight: 600 !important;
  border-radius: 8px !important;
  outline: none !important;
  padding: 14px 24px !important;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s !important;
  border: none !important;
  background: var(--color-button-black) !important;
  opacity: 1;
  color: rgb(255, 255, 255) !important;
  min-width: 100%;
  transition: 0.4s;
}
button:hover {
  /* animation: 0.4s ${fadeIn} ease-out; */
  opacity: 0.6;
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin: 1rem auto !important;
  min-width: 225.85px;
  min-height: 315px;
}
